:root {
  --white: #ffffff;
  --off-white: #e5e5e5;
  --transp-white-1: rgba(255, 255, 255, 0.25);
  --transp-white-2: rgba(255, 255, 255, 0.18);
  --blue-1: #62b8f5;
  --blue-2: #4475ef;
  --shadow: rgba(3, 46, 87, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  width: 50%;
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border: 2px solid var(--transp-white-2);
  border-radius: 10px;
  color: rgb(5, 41, 51);
  text-align: center;
  z-index: 1;
}

h1 {
  text-align: center;
  color: var(--white);
  margin-bottom: 15px;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: var(--white);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--white);
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  background: rgba(255, 255, 255, 1);
  border-color: var(--blue-2);
}

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--blue-2);
  cursor: pointer;
  transition: 0.3s;
  color: var(--blue-2);
  background-color: transparent;
  border-radius: 0.3em;
  width: 100%;
  max-width: 300px;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--blue-2);
  color: var(--white);
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.left, .right {
  width: 100%;
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  color: var(--white);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.icon img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .container {
      width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .container {
      width: 90%;
      padding: 1rem;
  }

  .weather {
      flex-direction: column;
      margin-top: 1rem;
  }

  .left, .right {
      width: 100%;
      margin-bottom: 1rem;
  }

  input[type="text"], .btn {
      width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  .container {
      width: 95%;
      padding: 0.5rem;
  }
}
